body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Main {
    padding: 20px;
    background: lightgray;
    border-radius: 10px;
    margin: 10px;
}

.turn {
    margin-bottom: 10px;
}

.image, .no_image {
    width: 450px;
    height: 450px;
    display: flex;
    border-radius: 10px;
}

.no_image, .no_button {
    display: none;
}

.display_info {
    padding-bottom: 10px;
}